[submodule "ragtag"]
	path = ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "preview"]
	path = preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
